<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <style>
                button {
                  border: none;
                  color: black;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  cursor: pointer;
                }
                </style>
    </head>
    <body>
        <center><img src="{{url_for('static',filename='GivaudanEpita.jpg')}}" width ="600" height="100" >  </center>
        <form method="POST">
            <center><b><font size="6">PROJECT NEFERTUM</center></font></b>
            <center><br>User Name
            <select class="form-control" id="userName" name="userName">
                <option value="Sophie">Sophie</option>
                <option value="Claire">Claire</option>
                <option value="Josephine" selected>Josephine</option>
                <option value="Benoit">Benoit</option>
                <option value="Faustine">Faustine</option>
                <option value="Harvey">Harvey</option>
                <option value="Emile">Emile</option>
            </select></center>
            
            <center>Enter questionnaire result:
            <select class="form-control" id="questionnaire" name="questionnaire">
                <option value="left">left</option>
                <option value="right">right</option>
                <option value="neutral" >neutral</option>
                <option value="angry">angry</option>
                <option value="happy "selected>happy</option>
                <option value="calm">calm</option>
                <option value="sad">sad</option>
            </select></center>
            <center><input type="submit" name="submit_button" value="start"></center>
            </form>   
        <center><img src="{{url_for('static',filename='fragrance1.jpg')}}" width="1500" height="500"></center>
    </body>
</html>